<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERP System Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        
</head>
<body>
    <div class="background-overlay"></div>
    <div class="container">
        <h1>ERP System Dashboard</h1>
        <div class="btn-container">
            <a href="/bot_entry" class="btn btn-bots">
                For Bots
            </a>
            <a href="/signin" class="btn btn-users">For Users</a>
                           
        
        </div>
    </div>
</body>
</html>